# Example configuration:
Neos:
  Flow:
    resource:
      storages:
        optimizedImageStorage:
          storage: 'Neos\Flow\ResourceManagement\Storage\WritableFileSystemStorage'
          storageOptions:
            path: '%FLOW_PATH_DATA%Persistent/Resources/Optimized/'
      collections:
        optimizedImageCollection:
          storage: 'optimizedImageStorage'
          target: 'localWebDirectoryPersistentResourcesTarget'
        persistent:
          target: 'imageOptimizingTarget'
      targets:
        imageOptimizingTarget:
          target: 'Flownative\ImageOptimizer\ImageOptimizerTarget'
          targetOptions:
            mediaTypes:
              # "optimizedPath" will be replaced with a temporary path from which the optimized file is read,
              # "originalPath" is replaced by a temporary path with the original file.
              'image/jpeg':
                binaryPath: '/usr/bin/jpegtran'
                arguments: "${'-copy none -optimize -progressive ' + '-outfile ' + optimizedPath + ' ' + originalPath}"
              'image/png':
                binaryPath: '/usr/bin/optipng'
                arguments: "${'-o2 -strip all -out ' + optimizedPath + ' ' + originalPath}"
              'image/gif':
                binaryPath: '/usr/bin/gifsicle'
                arguments: "${'-O' + optimizationLevel + ' --output ' + optimizedPath + ' ' + originalPath}"
              'image/svg+xml':
                binaryPath: '/usr/bin/svgo'
                arguments: "${'--input ' + originalPath + ' --output ' + optimizedPath}"
            # See collection configuration above, we need a separate collection for the optimized images.
            optimizedCollection: 'optimizedImageCollection'
            # the following is basically a copy of the default persistent target configuration of Flow, this is where you would configure your actual target you want to use.
            targetClass: 'Neos\Flow\ResourceManagement\Target\FileSystemSymlinkTarget'
            targetOptions:
              path: '%FLOW_PATH_WEB%_Resources/Persistent/'
              baseUri: '_Resources/Persistent/'
              extensionBlacklist:
                'aspx': true
                'cgi': true
                'php3': true
                'php4': true
                'php5': true
                'phtml': true
                'php': true
                'pl': true
                'py': true
                'pyc': true
                'pyo': true
                'rb': true
